
* {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.title {
  font-size: 24px;
  color: #495057;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.sub-title {
  font-size: 16px;
  color: #495057;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
}

.login {
  padding: 24px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(247, 247, 255, 1) !important;
}


.logo {
  text-align: center;
}

.logo img {
  width: 150px;
  margin-bottom: 30px;
}

.form-login {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  max-width: 440px;
  padding: 16px 24px;
}

.text-style {
  width: 300px;
  height: 30px;
  border: solid 2px #f5f7fb;
  background-color: white;
  border-radius: 5px;

}

.username, .password {
  width: 100%;
  margin-bottom: 12px;
}

.username label, .password label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: capitalize;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
}

.input i {
  width: 24px;
}

.input input {
  flex: 1;
}

.button-signup {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  font-size: 20px;
  border: solid 2px #5b54bf;
  border-radius: 4px;
  background-color: #6159cb;
  color: #fff;
}

.bottom-message {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}



